.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

#galery {
  background-color: #e2edff;
}
.akhir {
  padding: 20px;
  background-color: #0d6efd;
  color: white;
  width: 100%;
}

.akhir .cread {
  text-align: center;
  margin-top: 10px;
}

.display-4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 45px;
  letter-spacing: -1px;
}

section {
  padding-top: 5rem;
}

.card img {
  transition: all 0.5s;
}

.card img:hover {
  transform: scale(1.2);
}

.hu {
  padding-bottom: 10px;
  text-align: center;
}

video {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

h4 {
  padding-top: 10px;
  font-size: 14px;
  font-style: italic;

}